@import '../../styles/vars';

.root {
  padding: 16px 36px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.selected {
  background: $grey-dawn-b2;
}

.indicator {
  position: absolute;
  left: 1px;
  top: 50%;
  transform: translateY(-50%);
}
