/** display-1 **/
$display-1-font-size: 92px;
$display-1-letter-spacing: -1.2px;
$display-1-line-height: 96px;
$display-1-font-family: Rubik;
$display-1-font-weight: 300;

@mixin display-1() {
  font-size: $display-1-font-size;
  letter-spacing: $display-1-letter-spacing;
  line-height: $display-1-line-height;
  font-family: $display-1-font-family;
  font-weight: $display-1-font-weight;
}

/** display-2 **/
$display-2-opacity: 0.87;
$display-2-font-size: 64px;
$display-2-letter-spacing: -0.6px;
$display-2-line-height: 72px;
$display-2-font-family: Rubik;
$display-2-font-weight: 300;

@mixin display-2() {
  opacity: $display-2-opacity;
  font-size: $display-2-font-size;
  letter-spacing: $display-2-letter-spacing;
  line-height: $display-2-line-height;
  font-family: $display-2-font-family;
  font-weight: $display-2-font-weight;
}

/** display-3 **/
$display-3-opacity: 0.76;
$display-3-font-size: 48px;
$display-3-letter-spacing: -0.04px;
$display-3-line-height: 56px;
$display-3-font-family: Rubik;
$display-3-font-weight: 300;
@mixin display-3() {
  opacity: $display-3-opacity;
  font-size: $display-3-font-size;
  letter-spacing: $display-3-letter-spacing;
  line-height: $display-3-line-height;
  font-family: $display-3-font-family;
  font-weight: $display-3-font-weight;
}

/** small-body **/
$small-body-font-size: 14px;
$small-body-letter-spacing: 0.28px;
$small-body-line-height: 24px;
$small-body-font-family: Rubik;
$small-body-font-weight: 400;

@mixin small-body() {
  font-size: $small-body-font-size;
  letter-spacing: $small-body-letter-spacing;
  line-height: $small-body-line-height;
  font-family: $small-body-font-family;
  font-weight: $small-body-font-weight;
}

/** small-body-alt **/
$small-body-alt-opacity: 0.76;
$small-body-alt-font-size: 14px;
$small-body-alt-letter-spacing: 0.28px;
$small-body-alt-line-height: 24px;
$small-body-alt-font-family: Rubik;
$small-body-alt-font-weight: 700;

@mixin small-body-alt() {
  opacity: $small-body-alt-opacity;
  font-size: $small-body-alt-font-size;
  letter-spacing: $small-body-alt-letter-spacing;
  line-height: $small-body-alt-line-height;
  font-family: $small-body-alt-font-family;
  font-weight: $small-body-alt-font-weight;
}

/** small-title **/
$small-title-font-size: 24px;
$small-title-letter-spacing: 0.8px;
$small-title-line-height: 36px;
$small-title-font-family: Rubik;
$small-title-font-weight: 700;
@mixin small-title() {
  font-size: $small-title-font-size;
  letter-spacing: $small-title-letter-spacing;
  line-height: $small-title-line-height;
  font-family: $small-title-font-family;
  font-weight: $small-title-font-weight;
}

/** subtitle **/
$subtitle-opacity: 0.64;
$subtitle-font-size: 20px;
$subtitle-letter-spacing: -0.1px;
$subtitle-line-height: 32px;
$subtitle-font-family: Rubik;
$subtitle-font-weight: 500;
$subtitle-text-transform: uppercase;
@mixin subtitle() {
  font-size: $subtitle-font-size;
  letter-spacing: $subtitle-letter-spacing;
  line-height: $subtitle-line-height;
  font-family: $subtitle-font-family;
  font-weight: $subtitle-font-weight;
  text-transform: $subtitle-text-transform;
}

/** subtitle-alt **/
$subtitle-alt-font-size: 20px;
$subtitle-alt-letter-spacing: -0.1px;
$subtitle-alt-line-height: 32px;
$subtitle-alt-font-family: Rubik;
$subtitle-alt-font-weight: 500;

@mixin subtitle-alt() {
  font-size: $subtitle-alt-font-size;
  letter-spacing: $subtitle-alt-letter-spacing;
  line-height: $subtitle-alt-line-height;
  font-family: $subtitle-alt-font-family;
  font-weight: $subtitle-alt-font-weight;
}

/** title **/
$title-font-size: 32px;
$title-letter-spacing: -0.1px;
$title-line-height: 40px;
$title-font-family: Rubik;
$title-font-weight: 400;

@mixin title() {
  font-size: $title-font-size;
  letter-spacing: $title-letter-spacing;
  line-height: $title-line-height;
  font-family: $title-font-family;
  font-weight: $title-font-weight;
}

/** body **/
$body-font-size: 16px;
$body-letter-spacing: 0.12px;
$body-line-height: 24px;
$body-font-family: Rubik;
$body-font-weight: 400;

@mixin body() {
  font-size: $body-font-size;
  letter-spacing: $body-letter-spacing;
  line-height: $body-line-height;
  font-family: $body-font-family;
  font-weight: $body-font-weight;
}

/** body-alt **/
$body-alt-font-size: 16px;
$body-alt-letter-spacing: 0.12px;
$body-alt-line-height: 24px;
$body-alt-font-family: Rubik;
$body-alt-font-weight: 500;

@mixin body-alt() {
  font-size: $body-alt-font-size;
  letter-spacing: $body-alt-letter-spacing;
  line-height: $body-alt-line-height;
  font-family: $body-alt-font-family;
  font-weight: $body-alt-font-weight;
}

/** button **/
$button-font-size: 14px;
$button-letter-spacing: 0.07px;
$button-line-height: 20px;
$button-font-family: Rubik;
$button-font-weight: 500;
$button-text-transform: uppercase;

@mixin button() {
  font-size: $button-font-size;
  letter-spacing: $button-letter-spacing;
  line-height: $button-line-height;
  font-family: $button-font-family;
  font-weight: $button-font-weight;
  text-transform: $button-text-transform;
}

/** caption **/
$caption-opacity: 0.72;
$caption-font-size: 12px;
$caption-letter-spacing: 0.06px;
$caption-line-height: 20px;
$caption-font-family: Rubik;
$caption-font-weight: 400;

@mixin caption() {
  opacity: $caption-opacity;
  font-size: $caption-font-size;
  letter-spacing: $caption-letter-spacing;
  line-height: $caption-line-height;
  font-family: $caption-font-family;
  font-weight: $caption-font-weight;
}
