// Colors
$base: #0c0417;
$orange: #fd9369;
$violet: #7130cc;
$white: #fff;

// Typography
$light: #e1ccff;
$dark: $base;
$primary: $orange;
$lightTitle: #b7a5d2;
$lightSmallTitle: #ccb1f2;
$lightSubtitle: #62517a;
$lightSubtitleAlt: #a287ca;
$lightBody: #9683b2;
$lightBodyAlt: #b79cdd;
$lightSmallBody: #aa90d0;
$lightSmallBodyAlt: rgba(#e1ccff, 0.76);
$lightCaption: rgba(#b8a8ce, 0.72);

//
$radioBox: #3f2a5d;
$inputBorder: #a38fc0;
$inputFocusBorder: #d3b7fb;
$caretColor: #b280f9;

$error: #ff618b;
$errorIcon: #f53568;

// Fonts
$baseFont: 'Rubik', sans-serif;
