@import 'typography';
@import 'colors';

// Typography
$light: #e1ccff;
$dark: $base;
$lightTitle: #b7a5d2;
$lightSmallTitle: #ccb1f2;
$lightSubtitle: #62517a;
$lightSubtitleAlt: #a287ca;
$lightBody: #9683b2;
$lightBodyAlt: #b79cdd;
$lightSmallBody: #aa90d0;
$lightSmallBodyAlt: rgba(#e1ccff, 0.76);
$lightCaption: rgba(#b8a8ce, 0.72);

//
$radioBox: $grey-dawn-w2;
$inputBorder: $perfect-white-b4;
$inputFocusBorder: $violet-sky-w3;
$caretColor: $violet-sky-w2;

$error: $impossibly-pink-b1;

$modalHeader: #4b1f8c;

// Fonts
$baseFont: 'Rubik', sans-serif;

// Shadows
$grounded: 0 4px 8px 0 rgba(12, 4, 23, 0.4);
$lowly: 0 8px 20px 0 rgba(12, 4, 23, 0.67);
$midway: 0 12px 28px 0 rgba(12, 4, 23, 0.74);
$lofty: 0 16px 36px 0 rgba(12, 4, 23, 0.88);
$highest: 0 20px 48px 0 #0c0417;
