@import '../../styles/colors';

.root {
  transform: translate(-50%, -50%);
  transition: all 0.3s linear;
  animation: spinner-spin 1s linear infinite;
  width: 52px;
  height: 52px;
  border: 4px solid transparent;
  border-top: 4px solid $perfect-white;
  margin: auto;
  border-radius: 100%;
}

.sm {
  width: 20px;
  height: 20px;
  margin: auto;
  border-width: 2px;
}
.xs {
  width: 16px;
  height: 16px;
  margin: auto;
  border-width: 1px;
}

.fixed {
  left: 50%;
  top: 50%;
  position: fixed;
}

@keyframes spinner-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
