@import '../../styles/vars';

.display1 {
  @include display-1;
  &.light {
    color: $light;
  }
  &.dark {
    color: $dark;
  }
  &.white {
    color: $perfect-white;
  }
  &.primary {
    color: $sunkissed-orange;
  }
}

.display2 {
  @include display-2;
  &.light {
    color: rgba($light, 0.87);
  }
  &.dark {
    color: rgba($dark, 0.87);
  }
  &.white {
    color: rgba($perfect-white, 0.87);
  }
  &.primary {
    color: rgba($sunkissed-orange, 0.87);
  }
}

.display3 {
  @include display-3;
  &.light {
    color: rgba($light, 0.76);
  }
  &.dark {
    color: rgba($dark, 0.76);
  }
  &.white {
    color: rgba($perfect-white, 0.76);
  }
  &.primary {
    color: rgba($sunkissed-orange, 0.76);
  }
}

.title {
  @include title;
  &.light {
    color: $lightTitle;
  }
  &.dark {
    color: $dark;
  }
  &.white {
    color: $perfect-white;
  }
  &.primary {
    color: $sunkissed-orange;
  }
}

.smallTitle {
  @include small-title;
  &.light {
    color: $lightSmallTitle;
  }
  &.dark {
    color: $dark;
  }
  &.white {
    color: $perfect-white;
  }
  &.primary {
    color: $sunkissed-orange;
  }
}

.subtitle {
  @include subtitle;
  &.light {
    color: $lightSubtitle;
  }
  &.dark {
    color: rgba($dark, 0.36);
  }
  &.white {
    color: rgba($perfect-white, 0.36);
  }
  &.primary {
    color: rgba($sunkissed-orange, 0.92);
  }
}

.subtitleAlt {
  @include subtitle-alt;
  &.light {
    color: $lightSubtitleAlt;
  }
  &.dark {
    color: rgba($dark, 0.76);
  }
  &.white {
    color: rgba($perfect-white, 0.76);
  }
  &.primary {
    color: rgba($sunkissed-orange, 0.76);
  }
}

.body {
  @include body;
  &.light {
    color: $lightBody;
  }
  &.dark {
    color: rgba($dark, 0.5);
  }
  &.white {
    color: rgba($perfect-white, 0.94);
  }
  &.primary {
    color: rgba($sunkissed-orange, 0.72);
  }
}

.bodyAlt {
  @include body-alt;
  &.light {
    color: $lightBodyAlt;
  }

  &.dark {
    color: rgba($dark, 0.86);
  }

  &.white {
    color: rgba($perfect-white, 0.94);
  }

  &.primary {
    color: rgba($sunkissed-orange, 0.92);
  }
}

.smallBody {
  @include small-body;
  &.light {
    color: $lightSmallBody;
  }
  &.dark {
    color: rgba($dark, 0.56);
  }
  &.white {
    color: rgba($perfect-white, 0.92);
  }
  &.primary {
    color: rgba($sunkissed-orange, 0.72);
  }
}

.smallBodyAlt {
  @include small-body-alt;
  &.light {
    color: $lightSmallBodyAlt;
  }
  &.dark {
    color: rgba($dark, 0.76);
  }
  &.white {
    color: rgba($perfect-white, 0.87);
  }
  &.primary {
    color: rgba($sunkissed-orange, 0.82);
  }
}

.caption {
  @include caption;
  &.light {
    color: $lightCaption;
  }
  &.dark {
    color: rgba($dark, 0.5);
  }
  &.white {
    color: rgba($perfect-white, 0.87);
  }
  &.primary {
    color: rgba($sunkissed-orange, 0.72);
  }
}

.button {
  @include button;
  &.light {
    color: $light;
  }
  &.dark {
    color: $dark;
  }
  &.white {
    color: rgba($perfect-white, 0.92);
  }
  &.primary {
    color: $sunkissed-orange;
  }
}

$aligns: inherit, left, center, right, justify;
@each $align in $aligns {
  .align-#{$align} {
    text-align: $align;
  }
}
