@import '../../styles/vars';
@import '../../styles/mixins';

.wrap {
  position: relative;
  display: inline-block;
  border-radius: 25px;

  a {
    text-decoration: none;
  }
}

.root {
  border-radius: 25px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.07px;
  outline: none;
  border: none;
  &:hover {
    background-image: radial-gradient(
      at 50% 155%,
      rgba($perfect-white, 0.15) 0%,
      rgba($perfect-white, 0) 100%
    );
    .inner {
      opacity: 0.76;
    }
  }
}

.size-md {
  font-size: 20px;
  height: 48px;
  padding: 0 36px;


  svg {
    height: 16px;
    margin-right: -16px
  }

  .content {
    padding-right: 10px;
  }

  @include mobile {
    padding: 0 20px;
    height: 32px;
  }
}

.size-sm {
  font-size: 16px;
  height: 28px;
  padding: 0 24px;

  svg {
    height: 12px;
    margin-right: -12px;
  }

  .content {
    padding-right: 7px;
  }
}

.outer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.block {
  display: block;
  width: 100%;
}

.theme-primary {
  background-color: $sunkissed-orange;
  color: $perfect-white;

  svg {
    fill: $perfect-white;
  }
}

.theme-secondary {
  background-color: $grey-dawn-w2;
  color: $perfect-white;

  svg {
    fill: $perfect-white;
  }

  .content {
    padding-right: 0;
  }
}

.theme-link {
  background-color: transparent;
  color: $sunkissed-orange;

  svg {
    fill: $sunkissed-orange;
  }

  &:hover {
    background: none;
  }
}

.theme-link-white {
  background-color: transparent;
  color: $perfect-white;

  svg {
    fill: $perfect-white;
  }

  &:hover {
    background: none;
  }
}

