@import '../styles/vars';
@import '../styles/mixins';

.wrap {
  position: relative;
  display: inline-block;
  border-radius: 28px;
}

.root {
  border-radius: 28px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.07px;
  outline: none;
  text-transform: capitalize;
  border: none;
  &:hover {
    background-image: radial-gradient(
      at 50% 155%,
      rgba($perfect-white, 0.15) 0%,
      rgba($perfect-white, 0) 100%
    );
    .inner {
      opacity: 0.76;
    }
  }
  &:disabled {
    background-color: $violet-sky-b3;
    .inner {
      opacity: 0.24;
    }
    color: $light;
    pointer-events: none;
    svg {
      fill: $perfect-white-b4;
    }
  }
}

.size-md {
  font-size: 14px;
  height: 48px;
  padding: 0 36px;
  @include mobile {
    //padding: 0 20px;
    //height: 32px;
  }
}

.size-sm {
  font-size: 14px;
  height: 28px;
  padding: 0 24px;
}

.theme-sunkissed {
  box-shadow: 0 12px 28px rgba(12, 4, 23, 0.74);
  background-color: $sunkissed-orange;
  svg {
    fill: $grey-dawn;
  }
}

.theme-violet-sky {
  box-shadow: 0 12px 28px rgba(12, 4, 23, 0.74);
  background-color: $violet-sky-w1;
  svg {
    fill: $grey-dawn;
  }
}

.theme-perfect-white {
  box-shadow: 0 12px 28px rgba(12, 4, 23, 0.74);
  background-color: $perfect-white-b1;
  svg {
    fill: $grey-dawn;
  }
}

.theme-minimal-sunkissed {
  background-color: transparent;
  color: $sunkissed-orange;
  transition: color 0.15s ease-in-out;
  svg {
    fill: $sunkissed-orange;
  }
  &:disabled,
  &:hover {
    background: transparent;
  }
}

.theme-minimal {
  background-color: transparent;
  color: $light;
  transition: color 0.15s ease-in-out;
  svg {
    fill: $perfect-white-b1;
  }
  &:disabled,
  &:hover {
    background: transparent;
  }
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 86px;
  svg {
    margin-right: 16px;
  }
}

.block {
  display: block;
  width: 100%;
}

.loadingBar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 0.15s ease-in-out;
  overflow: hidden;
  border-radius: 28px;
  &::before {
    content: '';
    display: block;
    transform: translateZ(0) skewX(-10deg) translateX(-100%);
    position: absolute;
    left: -5px;
    top: 0;
    width: calc(100% + 10px);
    height: 100%;
    background: $violet-sky;
    animation: loader 2s;
    animation-iteration-count: infinite;
    animation-delay: 0.3s;
    z-index: 1;
  }
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: $perfect-white;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 28px;
    overflow: hidden;
  }
}

@keyframes loader {
  0% {
    transform: translateZ(0) skewX(-15deg) translateX(-100%);
    animation-timing-function: cubic-bezier(0.64, 0, 0.25, 1);
  }
  40% {
    transform: translateZ(0) skewX(-15deg) translateX(0);
  }
  60% {
    animation-timing-function: cubic-bezier(0.64, 0, 0.25, 1);
    transform: translateZ(0) skewX(-15deg) translateX(0);
  }
  100% {
    transform: translateZ(0) skewX(-15deg) translateX(100%);
  }
}
